* {
  margin: 0px;
}

body {
  background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #8fd895 74%);

  
}

#cabecalho {
  top: 0;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #53dada 0%, #8ecde4 74%);
  font-style: bold;
  position: fixed;
  width: 100%;
  font-size: 26px;
  height: 5%;
}
#titulo{
  font-size: 30px;
}
.nav-topo li {
  display: inline-block;
  width: 30%;
  margin-left: 2%;
  text-align: center;
  margin-top: 5px;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

#minha_foto {
  display: inline-block;
  margin-left: 30px;
  margin-top: 100px;
  width: 230px;
  border-radius: 50% 15%;
}

.intro {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  width: 35%;
  margin-left: 5%;
  height: 100px;
  margin-top: 160px;
}
#depoimento{
  font-size: 16px;
  color: rgb(19, 18, 18);
  float: right;
  width: 20%;
  padding: 1%;
  margin-right: 5%;
  border: 1px solid green;
  margin-top: 160px;
  background-color: #88d48f;
}


.intro h1 {
  padding-bottom: 10px;
}
#artigo1{
  display: inline-block;
  font-family: sans-serif;
  text-align: justify;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 2%;
  width: 30%;
  line-height: 130%;
  height: 60%;
  padding: 6%;
  }
#lista{
  position: absolute;
  display: inline-block;
  width: 15%;
  margin-left: 7%;
}
#licoes_aprendidas{
  border: 2px dotted lightgreen;
  display: inline-block;
  font-size: 20px;
  width: 100%; 
  line-height: 150%;
  margin-top: 5%;
  text-align: center; 
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  }
table, th, td{
  border: 1px solid black;
}
#tabela{
  display: inline-block;
  width: 12%;
  float: right;
  margin-top: 1%;
  margin-right: 5%;  
}
#tituloTabela{
  text-align: center;
  font-size: 24px;
  padding-bottom: 8%;
}
#conteudoTabela{
  border: 2px dotted lightgreen;
  display: inline-block;
  font-size: 18px;
  line-height: 150%; 
  text-align: center; 
  height: fit-content;
  
}

#lista02{
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
#lista02 ul li{
  position: inherit;
  display: inline-block;
  width: 30%;
  text-align: center;  
  }
#licoes-p{
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}


#rodape{
  position: fixed;
  bottom: 0;
  padding-left:2%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #40d34d 74%);
  width: 100%;
}
