* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #8fd895 74%);
}
hr {
  width: 50%;
  margin: auto;
  border-bottom: 3px solid;
}

#cabecalho {
  width: 100%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #53dada 0%, #8ecde4 74%);
}
#nav-topo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 1.9rem;
}

.links:hover {
  text-decoration: underline;
}
#intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

#img {
  width: 200px;
  border-radius: 50% 15%;
}

#intro {
  text-align: center;
  font-size: 20px;
  width: 35%;
  height: 100px;
}
#depoimento {
  font-size: 16px;
  color: rgb(19, 18, 18);
  width: 20%;
  padding: 1%;
  border: 1px solid green;
  background-color: #88d48f;
}

.intro h1 {
  padding-bottom: 10px;
}
#content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3% auto;
}
#artigo1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  flex-basis: 30%;
  align-self: center;
  text-align: justify;
  margin-right: 10%;
  margin-left: 8%;
}
#lista {
  width: 10%;
  align-self: center;
  flex-shrink: 0;
  flex-basis: 200px;
}
#licoes_aprendidas {
  border: 2px dotted lightgreen;
  font-size: 1.2rem;
  list-style: none;
  margin: 1%;
  padding: 10px;
}
table,
th,
td {
  border: 1px solid black;
}
#tituloTabela {
  text-align: center;
  padding-top: 3%;
  font-size: 1.2rem;
  padding-bottom: 3%;
}
#conteudoTabela {
  border: 2px dotted lightgreen;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

#lista02 {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
}
#licoes-p {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  margin-top: 2%;
}

#rodape {
  position: fixed;
  bottom: 0;
  padding-left: 2%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #40d34d 74%);
  width: 100%;
}
