@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#body {
  background-color: black;
}

#cabecalho {
  height: auto;
  background-color: #178ff1;
}
#nav-topo {
  padding: 1%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.links {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px green;
  color: white;
  text-decoration: none;
  font-size: 1.9rem;
}

.links:hover {
  background-color: green;
  color: white;
  text-decoration: none;
}

#imgContainer {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  height: auto;
  padding: 4em;
}
#imgContainer > img {
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#title {
  margin-top: 4em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-wrapper  > h1 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  color:#178ff1;
}
#title-wrapper  > h2 {
  font-family: 'Playfair Display', serif;
  color: white;
}
#title-wrapper  > p {
  color: gray;
  align-items: right;
}

#about {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}
#info-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
}

#info {
  color: white;
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: center;
  border: 2px solid white;
  padding: 2em;
  margin-left: 2%;
  width: 40%;
}

#info > h1 {
  font-family: 'Orbitron', sans-serif;
  color:#178ff1;
}

#info > p {
  font-family: 'Playfair Display', serif;
} 

#divSetaCima > a > i {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 26px;
  color: white;
}

#content-container {
  padding-bottom: 5%;
}

#content-container > h1 {
  color: white;
  text-align: center;
}

#tools_list {
  margin-top: 2em;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.tools {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px #178ff1;
  width: 50px;
  height: auto;
}

#projects_container > h1 {
  font-family: 'Orbitron', sans-serif;
  color:#178ff1;
  text-align: center;
}
#projects_container > p {
  color: gray;
  text-align: center;
}

#projects_container {
  padding-bottom: 5%;
}

#projects_list {
display: flex;
margin-top: 2%;
justify-content: space-around;
color: white;
}

.project-title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em auto;
}

#pixel {
  width: 200px;
  height: auto;
}

.project-img {
  position: relative;
  border: 2px solid #178ff1;
  padding: .5em;
}

.project-img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 font-size: 16px;
 font-weight: bold;
 opacity: 0;
 visibility: hidden;
 transition: visibility 0s, opacity 0.3s linear;
}

.project-img:hover {
  cursor: pointer;
}

.project-img:hover div {
 width: 150px;
 height: 20px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
 text-align: center;
 color: white;
}