* {
  background-color: rgba(0, 0, 0, 0.027);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#main {
  background-repeat: no-repeat;
  background-image: url("https://www.pixel4k.com/wp-content/uploads/2020/10/blue-black-white-abstract-tiles-4k_1602442042.jpg");
  background-position: center;
}
#cabecalho {
  width: 100%;
  height: auto;
  background-color: #178ff1;
}
#nav-topo {
  padding: 1%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.links {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px green;
  color: white;
  text-decoration: none;
  font-size: 1.9rem;
}

.links:hover {
  background-color: green;
  color: white;
  text-decoration: none;
}

#intro-container {
  background-position: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 3%;
}

#imgContainer {
  display: flex;
  justify-content: center;
}
#imgContainer > img {
  width: 15%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 2%;
}

#info {
  margin-left: 2%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
}

#intro {
  margin-left:15%;
  font-size: 1.6em;
  line-height: 15px;
  width: 50%;
  height: auto;
  word-wrap: break-word;
  color: white;
}

#intro > ul > li {
  line-height: 200%;
}

#intro > img {
  margin-top: 4%;
  width: 50%;
  height: auto;
  border: none;
  border-radius: 10px;
}

#artigo1 {
  display: flex;
  align-items: center;
  line-height:1.3em;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  padding: 1%;
  text-align: center;
  text-size-adjust: auto;
  font-size: 1.5em;
  background: #42a0ee8a;
  color: white;
  width: 250px;
  height: auto;
}

#divSetaBaixo > a > i {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 100px;
  color: white;
}

#divSetaCima > a > i {
  position: absolute;
  top: 1000px;
  right: 16px;
  font-size: 100px;
  color: white;
}

#content-container {
  padding-bottom: 5%;
}

#content-container > h1 {
  color: white;
  text-align: center;
}

#tools_list {
  margin-top: 2%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.tools {
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px green;
  width: 150px;
  height: auto;
}

#projects_container > h1 {
  color: white;
  text-align: center;
}

#projects_container {
  padding-bottom: 5%;
}

#projects_list {
display: flex;
margin-top:2%;
justify-content: space-around;
color: white;
}
